<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant Apps</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/c41c9892b9.js"
      crossorigin="anonymous"
    ></script>
    <link rel="manifest" href="./app.webmanifest" />
    <meta name="theme-color" content="#8c625b" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
  </head>
  <body>
    <a href="#list" tabindex="1" id="skip">Skip to Content</a>
    <header>
      <div id="navbar">
        <div id="logo">
          <p>Cafe <span>Hunger</span></p>
        </div>
        <div id="link">
          <a href="#/home" tabindex="2">Home</a>
          <a href="#/favorite" tabindex="3">Favorite</a>
          <a
            href="https://www.linkedin.com/in/muhammad-qurtubi-02435a256/"
            tabindex="4"
            >About us</a
          >
        </div>
        <div id="hamburger">
          <button id="btnHamburger" aria-label="untuk membuka link menu">
            <i class="fa-solid fa-bars"></i>
          </button>
        </div>
        <div id="link2">
          <div id="exit">
            <button id="btnExit" aria-label="untuk menutup link menu">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
          <ul>
            <li><a href="#/home">Home</a></li>
            <li><a href="#/favorite">Favorite</a></li>
            <a href="#konten">List Cafe</a>
            <li>
              <a href="https://www.linkedin.com/in/muhammad-qurtubi-02435a256/"
                >About us</a
              >
            </li>
          </ul>
        </div>
      </div>
    </header>
    <main id="mainContent" tabindex="0"></main>

    <footer>
      <p>Copyright &copy; 2024 - Cafe Hunger</p>
    </footer>
  </body>
</html>
